<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録</title>
</head>

<body>
    <h1>新規登録</h1>
    <form action="" method="POST">
        <p>
            <label for="title">タイトル: </label>
            <input type="text" name="title" placeholder="タイトル" required>
        </p>
        <p>
            <label for="rating">評価: </label>
            <input type="number" name="rating" placeholder="3" required>
        </p>
        <p>
            <label for="watched">観た?: </label>
            <select name="watched" id="watched">
                <option value=1 selected>観た</option>
                <option value=0>観ていない</option>
            </select>
        </p>
        <button>登録する</button>
    </form>


</body>

</html>